<h1> About</h1>
<h3> Why does this Blog exist?</h3>
<p> This blog exist for me to get some thoughts out and about.</p>

<h3> Who build this Blog?</h3>
<p> Mason Moore built this Blog with the help of some professionals.</p>
<h3> How does this Blog help me?</h3>
<p> This blog can help you see how we express ourselves and really just let it out. </p>
